body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url("../images/Gretris_Tetris_Wallpaper.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* Distribute space evenly between items */
    align-items: center;
    /* Center items vertically */
    margin-bottom: 20px;
    /* Space between header and grid */
}

#timer,
#score {
    font-size: 28px;
    color: #00bfff;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#score {
    margin-left: 20px;
    /* Space between score and timer */
}

/* Grid Styling */
#grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(20, 30px);
    border: 12.5px solid #333;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}

.cell.active {
    background-color: #00bfff;
    /* Highlight active cells */
}

/* Button Container */
.button-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.button-container button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #00bfff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.button-container button:hover {
    background-color: #007bbf;
    transform: translateY(-3px);
}

.button-container button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #007bbf;
}

.libre {
    background-color: rgb(255, 255, 255,0.15);
    border: 1px solid black;
}

.tetromino {
    border: 1px solid black;
}

.placé {
    border: 1px solid black;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.3);
    /* Customize the color and opacity of the shadow */
    border: 1px solid black;
}